<!DOCTYPE html>
<html>
<head>
    <title>Automatic Music Merge</title>
</head>
<body>
    <h1>Automatic Music Merge</h1>
    <form action="/merge" method="post">
        <label for="music_files">Select a file:</label>
<input type="file" id="music_files" name="music_files">
        <input type="checkbox" name="music_files" value="test2.mp3"> Song 1<br>
        <input type="checkbox" name="music_files" value="test3.mp3"> Song 2<br>
        <input type="checkbox" name="music_files" value="test4.mp3"> Song 3<br>
        <input type="submit" value="Merge">
    </form>
</body>
</html>
